
.destination-card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungiamo una transizione per il movimento e ombra */
  }
  
 
  
  /* Animazione del fade-in verso l'alto */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  
  

  .destination-card-button {
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Aggiungiamo anche una transizione per l'ingrandimento */
  }
  
  .destination-card-button:hover {
    background-color: #0056b3; /* Colore del bottone */
    transform: scale(1.1); /* Ingrandisce leggermente il pulsante */
  }
  